{{#if logged_in}}
  <div class='container'>
    <h1>Welcome to the Dashboard, {{logged_in}}</h1>
    <div id='blogsContainer'></div>
  </div>

  {{#each blogs}}
    <div class='blogPost'>
      <h2>{{title}}</h2>
      <p>{{content}}</p>
      <!--<p>User: {{user}}</p> -->

      <h3>Comments: </h3>
      {{#each comments}}
        <p>{{description}}</p>

      {{/each}}
    </div>
  {{/each}}

{{else}}
  <h1> Please log in to access the Dashboard.</h1>

{{/if}}